@import "../variables.less";
@import "../mixins.less";

.site-footer {
	background: #394559;
	padding-bottom: 1em;
}
.site-footer a{
	color: white;
}
.site-footer a:hover{
	color: white;
}
.menu-sub-footer {
	padding: 5px 0;
	font-size: @font-size-small;
}

.site-map {

}
.site-map  li {
	padding: 0;
	margin: 0;
}
.site-map > li {
	box-sizing: border-box;
	width: 25%;
	float: left;
	padding: 13px 20px;
}
.site-map > li > a {
	display: inline-block;
	color: #909FB6;
	font-family: @headings-font-family;
	font-size: (@font-size-base * 1.25);
	padding-bottom: 5px;
	margin: 10px 0;
}
.site-map > li > a:hover {
	color: #909FB6;
	text-decoration: underline;
}
.site-map .sub-menu {
	font-size: @font-size-small;
}

.media-links {
	padding: 10px 0;
	background: white;
}
.media-links-header {
	padding-left: 1em;
}
.menu-footer {
	margin: 10px 5px;
}
.menu-footer a {
	color: #394559;
}
.menu-footer a:hover {
	color: #394559;
	text-decoration: underline;
}
@media (min-width: @screen-md) {
	.media-links {
		display: table;
		width: 100%;
	}
	.media-links-header {
		display: table-cell;
	}
	.media-links-wrapper {
		display: table-cell;
		width: 100%;
	}
	.media-links {
		border-radius: @border-radius-large;
	}
	.media-links li {
		display: inline-block;
	}
	.menu-footer {
		text-align: right;
		padding-right: 2em;
		margin: 0;
	}
	.menu-footer > li {
		padding: 0 15px;
		margin: 0;
	}
	.menu-footer > li:not(:first-of-type){
		border-left: 1px solid #394559;
	}
}
@media (max-width: @screen-md) {
	.container-large-only{
		margin: 0;
		padding: 0;
		max-width: @screen-md;
	}
}

.menu-sub-footer{
	padding-right: 2em;
}

